h3 coming up:
each project in projects
  if project.visible == true && project.deleted != true
    a(href='/site/program/'+project._id).project-container
      .info-box(class=project.category)
        h1= project.title
        p= project.dateHtml
        p!= project.description
