body {
  background-color: #000;
  font: 16px Verdana, Helvetica, Arial, sans-serif;
}

a {
  color: #999;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a:hover {
  text-decoration: none;
  color: #bbb;
}

.logo-style {
  color: #aaa;
  font-size: 1.5em;
  /*letter-spacing: .05em;*/
}

ul {
  margin-bottom: 0;
}

li.active a{
  text-decoration: none;
  color: #ccc;
}

#content {
  text-align: center;
}

.img-container {
  width: 100%;
  max-width: 800px;
}
.img-container img {
  width: 100%;
}

main {
  opacity: 1;
  -webkit-transition: opacity .3s;
}
main.loading {
  opacity: 0;
}
