::-webkit-scrollbar
{
  width: 1px;  /* for vertical scrollbars */
  height: 1px; /* for horizontal scrollbars */
}

::-webkit-scrollbar-track
{
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb
{
  background: rgba(100, 100, 100, 0.5);
}


body {
  padding: 20px;
  font-family: Verdana, 16px;;
  text-align: justify;
  background: url('/img/rain.gif') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.msg {
  text-align: center;
  width: 20em;
  margin: auto;
  padding: 2em;
  color: #333;
  border-radius: .5em;
  text-shadow: 0 0 2px #111;
  background-color:rgba(255,255,255,0.8);

  box-shadow: 0 0 .2em #aaa;
}


#errmsg {
  display: none;
  height: 10em;
  font-size: 12px;
  text-align: left;
  overflow-y: scroll;
  color: #333;
}
