extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand velak
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/projects').pjax Projects
            li.active
              a(href='/admin/audio').pjax Audio
            li
              a(href='/admin/docs').pjax Docs
            li
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/admin/users').pjax user list
            li
              a(href='/admin/register').pjax add user
            li
              span.navbar-text logged in as #{user.username}
            li  
              a(href="/admin/logout")
                span.glyphicon.glyphicon-log-out
    main
      h2 AUDIO
      #audio-upload
        form(action='/admin/audio_upload', method='post', enctype='multipart/form-data')
          label(for='input_audio')
            .btn.btn-default add audio file(s)
          input(type='file', id='input_audio', accept='.mp3,.wav,.ogg', name='files', onchange='submit()', multiple).hidden
      #audio-list-container
        ul#audio-list.sortable
          if tracks!=undefined
            each track in tracks
              if track.deleted !== true  
                li
                  .li-cell
                    span=track.originalName
                  .li-cell
                    audio(controls)
                      source(src= '../../uploads/audio/'+track.name, type=track.fileType)
                  .li-cell
                    a(href='/admin/delete_audio/' + track._id, onclick='return confirm("really delete?")') delete
