doctype html
html
  head
    block head
      title= title
      link(rel='stylesheet', href='/admin/css/bootstrap.min.css')
      link(rel='stylesheet', href='/admin/css/dropzone.css')
      link(rel='stylesheet', href='/admin/css/style.css')
      link(rel='stylesheet', href='/admin/css/bootstrap-colorpicker.min.css')
      link(rel='stylesheet', href='/admin/css/audio.css')
      link(rel='stylesheet', href='/admin/css/docs.css')
      link(rel='stylesheet', href='/admin/css/trash.css')
      link(rel='stylesheet', href='/admin/css/users.css')
      link(rel='stylesheet', href='/admin/css/jquery-ui.min.css')
      script(type='text/javascript', src='/admin/js/jquery-2.1.4.min.js')
      script(type='text/javascript', src='/admin/js/bootstrap.min.js')
      script(type='text/javascript', src='/js/masonry.js')
      script(type='text/javascript', src='/js/imagesloaded.pkgd.min.js')
      script(type='text/javascript', src='/admin/js/dropzone.js')
      script(type='text/javascript', src='/admin/js/basics.js')
      script(type='text/javascript', src='/admin/js/bootstrap-colorpicker.min.js')
      script(type='text/javascript', src='/admin/js/docs.js')
      script(type='text/javascript', src='/admin/js/trash.js')
      script(type='text/javascript', src='/admin/js/users.js')
      script(type='text/javascript', src='/admin/js/media.js')
      script(type='text/javascript', src='/admin/js/dyn-links.js')
      script(type='text/javascript', src='/admin/js/jquery-ui.min.js')

    

  body
    block content
