extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand velak
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/admin/projects').pjax Projects
            li
              a(href='/admin/docs').pjax Docs
            li
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/admin/users').pjax user list
            li
              a(href='/admin/register').pjax add user
            li
              span.navbar-text logged in as #{user.username}
            li  
              a(href="/admin/logout")
                span.glyphicon.glyphicon-log-out
    main  
      #alert-container
      #project-menu
        #div-addProject.input-group.input-group-sm
          input(type='text', placeholder='new project', onkeypress='checkKey(event)')#new-project-input.form-control
          span.input-group-btn
            button(onclick='addProject()').btn.btn-default Add
        #div-projectList
          .filters  
            input(type='checkbox', checked='checked', onclick='filterItems("home")')#home-checkbox.filter-checkbox
            label(for='home-checkbox').filter-label.home-label.noselect home
            input(type='checkbox', checked='checked', onclick='filterItems("gala")')#gala-checkbox.filter-checkbox
            label(for='gala-checkbox').filter-label.gala-label.noselect gala
            input(type='checkbox', checked='checked', onclick='filterItems("export")')#export-checkbox.filter-checkbox
            label(for='export-checkbox').filter-label.export-label.noselect export
            input(type='checkbox', checked='checked', onclick='filterItems("other")')#other-checkbox.filter-checkbox
            label(for='other-checkbox').filter-label.other-label.noselect other
            
          
          ul#project-list.sortable.list-unstyled
            each project in projects  
              if project.name == 'homepage'
                li(name= project._id).li-project.li-home
                  a(href='/admin/project/' + project._id, class= 'is-in-' + project.category).pjax.pLink= project.name
                  a(id=project._id, onclick='deleteProject(this.id, this)').deleteLink
                    span.glyphicon.glyphicon-remove-circle
              else if project.deleted == false  
                li(data-project-id= project.id, name= project._id).li-project
                  a(href='/admin/project/' + project._id, class= 'is-in-' + project.category).pjax.pLink= project.name
                  a(id=project._id, onclick='deleteProject(this.id, this)').deleteLink
                    span.glyphicon.glyphicon-remove-circle
      #project-content
        h1 Projects
