doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/error.css')
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
  body
    .msg  
      h2= message
      h1= error.status
      p Sorry you took a wrong turn!
      #errmsg
        p= error.stack
