doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/admin/css/bootstrap.min.css')
    link(rel='stylesheet', href='/admin/css/style.css')
    script(type='text/javascript', src='/admin/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/admin/js/bootstrap.min.js')
    script(type='text/javascript', src='/admin/js/basics.js')
    script(type='text/javascript', src='/js/dyn-links.js')

  body
    block content
