extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand Home
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/admin/projects').pjax Projects
            li
              a(href='/admin/docs').pjax Docs
            li.active
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
    main
      .trash-style
        .infobox
          h1 TRASH
          p Click on projects or photos to retrieve them. Or remove them permanently by empting the trash.
        h2.trash-header projects
        if (projects.length != 0)
          a(href='/admin/empty_del_projects', onclick='return confirm("Are you sure you want to permanently remove those projects?")').btn.btn-danger empty project trash
        .trash-container  
          h3(class=(projects.length!=0 ? 'hidden': ''))#project-trash-empty.trashempty project trash is empty
          ul.list-unstyled
            each project in projects
              li
                a(href='/admin/retrieve_project/'+project._id, onclick='return confirm("Do you want to retrieve this project?")')= project.name
                span.project-info= project.date
        h2.trash-header photos
  
        if (photos.length!=0)
          a(onclick='prepare_to_remove(this)', data-photos= photo_ids)#empty_photo_btn.btn.btn-danger empty photo trash
        br
        .trash-container
          h3(class=photo_ids.length!=0 ? 'hidden': '')#photo-trash-empty.trashempty photo trash is empty
          .grid#trash-grid
            each photo in photos
              if photo.originalName !== undefined  
                .trash-item(id= photo._id)
                  //- a(href='/uploads/' + image.name, download= image.originalName)
                  a(href='/admin/retrieve_photo/'+photo.inProject+'/'+photo._id, onclick='return confirm("Do you want to retrieve this photo?")')
                    img(src= '/uploads/small/small' + photo.name).image
                    span.photo-info= photo.originalName
