extends layout

block content
  #content
    header
      nav.navbar.navbar-default
        .navbar-header
          button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
            span(class='sr-only') Toggle navigation
            span(class='icon-bar')
          a(href='#').navbar-brand velak
        .collapse.navbar-collapse
          ul.nav.navbar-nav.nav-ul
            li
              a(href='/admin/projects').pjax Projects
            li
              a(href='/admin/docs').pjax Docs
            li
              a(href='/admin/trash').pjax.glyphicon.glyphicon-trash
          ul.nav.navbar-nav.navbar-right.nav-ul
            li.active
              a(href='/admin/users').pjax user list
            li
              a(href='/admin/register').pjax add user
            li
              span.navbar-text logged in as #{user.username}
            li  
              a(href="/admin/logout")
                span.glyphicon.glyphicon-log-out
    main
      table.table.table-striped
        tr
          th name
          th id
          th color
          th delete
        each user in users
          tr(data-userid= user.id).userid
            td
              p= user.username
            td
              p= user._id
            td
              .input-group.colorpick
                input(type='text', value= user.color).form-control
                .input-group-addon(style='background-color: '+ user.color)
                  
            td
              if user.username == 'admin'
                p ADMIN cannot be deleted
              else
                a(href='/admin/delete_user/' + user._id, onclick='return confirm("really delete?")')  x
