
.trash-style {
  padding-left: 1em;
  text-align: center;
}


.trash-container {
  padding: 1em;
  margin: 1em;
  background: #efe;
  border-radius: .3em;
  box-shadow: 0 0 .3em #aca;
}

.trashempty {
  color: #aaa;
  text-align: center;
  font-style: italic;
  text-shadow: 1px 1px 1px #9b9;
}
.hidden {
  display: none;
}

.infobox {
  margin: 0 auto;
  text-align: center;
  width: 80%;
  background: #eef;
  padding: 1em;
  border: 2px dashed #aaa;
  border-radius: .8em;
  box-shadow: 0 0 1em #ccc;
}

.project-info {
  font-size: .7em;
  margin-left: 1em;
}

.trash-header {
  color: #777;
  text-shadow: 1px 1px 1px #444;
}

.grid {
  width: 100%;
  margin: 0 auto;
}

.trash-item {
  width: 24.5%;
  margin: 1px;
  overflow: hidden;
  background: #cfc;
  padding: .5em;
  border-radius: .3em;
}
.trash-item:hover {
  box-shadow: 0 0 .4em #8d8;
}

.image {
  max-width: 100%;
  opacity: 0;
  transition: opacity .5s;
  -moz-transition: opacity .5s;
  -webkit-transition: opacity .5s;
  border-radius: .3em;
}

.image-visible {
  opacity: .7;
}
.image:hover {
  opacity: 1;
}

.photo-info {
  font-size: .75em;
}
