.content-container {
  margin: 1em;
}

.post-container {
  width: 20em;
}

#addbutton {
  display: none;
}

.post-content {
  padding: 1em;
}

.doc-upload {
  width: 4em;
  height: 4em;
  border: 2px solid #eee;
  border-radius: .3em;
}
