html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body.loading {
  overflow: hidden;
}
body.loading #modal {
  display: block;
}

a {
  color: #00B7FF;
}

.noselect, a {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.navbar {
  margin-bottom: 0;
}

#modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
              url('../img/ajax-loader.gif')
              50% 50%
              no-repeat;
}

#alert-container {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.my-alert {
  cursor: default;
  display: none;
  padding: 2em;
}

#menu-container {
  padding-right: .5em;
  float: left;
  width: 15%;
  height: 80%;
  border-right: 1px solid #eee;
}

#div-addProject {
  padding: 1em;
  text-align: center;
}
#div-addProject * {
  margin: .4em;
}

#div-projectList {
  padding-left: 1.5em;
  padding-right: .5em;
  text-indent: -.4em;
  word-wrap: break-word;
}

.active-link a {
  color: #6d6;
}

.pLink {
  color: #ccc;
}
.pLink:hover {
  text-decoration: none;
}

.deleteLink {
  margin-left: 1em;
  font-size: .9em;
  right: .2em;
  color: red;
  cursor: pointer;
  display: none;
  word-wrap: normal;
}

#main-container {
  float: left;
  width: 80%;
}

#info-container {

  /*display: none;*/
  padding: 2em;
  width: 50%;
}
#photo-container {

  padding: 2em;
  width: 49%%;
  height: 20em;
  border: 1px solid #aaa;
}
