extends layout

block content
  nav.navbar.navbar-default
    .navbar-header
      button(type='button', class='navbar-toggle collapsed', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
        span(class='sr-only') Toggle navigation
        span(class='icon-bar')
      a(href='#').navbar-brand Home
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li.active
          a(href='#') Products
        li
          a(href='/admin/docs') Docs
        
  #modal
  #alert-container
  #menu-container
    #div-addProject.input-group.input-group-sm
      input(type='text', placeholder='new project', onkeypress='checkKey(event)')#new-project-input.form-control
      span.input-group-btn
        button(onclick='addProject()').btn.btn-default Add
    #div-projectList
      p projects
      ul#project-list.list-unstyled
        each project in projects
          if project.deleted !== true  
            li(name= project._id, onclick='loadProject(this)').li-project
              a(href='#').pLink= project.title
              a(id=project._id, onclick='deleteProject(this.id, this)').deleteLink
                span.glyphicon.glyphicon-remove-circle
          
          

  #main-container
    ul(role='tablist').nav.nav-tabs#tab-menu
      li(role="presentation").active
        a(href='#info-container', data-toggle='tab', aria-controls='info-container', role='tab') main info
      li(role='presentation')
        a(href='#photo-container', data-toggle='tab', aria-controls='photo-container', role='tab') media
    .tab-content
      #info-container(role='tabpanel').tab-pane.active
        label Title:
        input(type='text', id='input-title').form-control
        label Name:
        input(type='name', id='input-name').form-control
        label Description:
        textarea(id='input-description').form-control
        select#category-selector
          option(value='gala') gala
          option(value='export') export
          option(value='other') other
        br
        input(type='checkbox', value='visible')#project-visible
        | visible
        br
        button(onclick='updateProject()').btn.btn-default save
      #photo-container(role='tabpanel').tab-pane
        a(onclick='$("#photo-upload").toggle(100)') show/hide photo-upload
        //- form(action='/admin/photo_upload', method='POST', enctype='multipart/form-data')#photo-upload
        //-   input(type='file', name='image')
        //-   input(type='submit')
        form(action='/admin/photo_upload', enctype='multipart/form-data')#photo-upload.dropzone
        #gallery-container
      
      
  
