doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/admin/css/bootstrap.min.css')
    link(rel='stylesheet', href='/admin/css/dropzone.css')
    link(rel='stylesheet', href='/admin/css/style.css')
    script(type='text/javascript', src='/admin/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/admin/js/bootstrap.min.js')
    script(type='text/javascript', src='/admin/js/dropzone.js')
    script(type='text/javascript', src='/admin/js/script.js')
    script(type='text/javascript', src='/admin/js/content.js')
  body
    block content
