extends layout

block content

  nav#top-menu    
    
    ul.menu-list.list-inline
      li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/').logo-style velak
      li.li-menu
        a(onclick='load_content(this, "gala")', class=(cat=='gala' ? 'active':'')).menu-link velak-gala
      li.li-menu
        a(onclick='load_content(this, "export")', class=(cat=='export' ? 'active':'')).menu-link velak-export
      li.li-menu
        a(onclick='load_content(this, "other")', class=(cat=='other' ? 'active':'')).menu-link other
  
  nav#side-menu
    
    ul.side-list.list-unstyled.mobile-hidden
      li.li-side
        a.side-link newsletter
      li.li-side  
        a.side-link about
      li.li-side  
        a.side-link FAQ
      li.li-side  
        a.side-link contact
        
  #content
    p hallo leutlingers
