extends layout

block content

  nav#top-menu    
    
    ul.menu-list.list-inline
      li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/').pjax.logo-style velak
      li.li-menu
        a(href='/site/gala').pjax.menu-link velak-gala
      li.li-menu
        a(href='/site/export').pjax.menu-link velak-export
      li.li-menu
        a(href='/site/other').pjax.menu-link other
  
  nav#side-menu
    
    //- ul.side-list.list-unstyled.mobile-hidden
    //-   li.li-side
    //-     a.side-link newsletter
    //-   li.li-side  
    //-     a.side-link about
    //-   li.li-side  
    //-     a.side-link FAQ
    //-   li.li-side  
    //-     a.side-link contact
        
  main#content
    p hallo leutlingers
