extends layout

block content

  nav#top-menu    
    
    ul.menu-list.list-inline
      li#mobile-li
        a#mobile-menu.notactive(onclick='showSideMenu()')
          img(src='/img/menu-icon-white.png')
      li.logo
        a(href='/')#home-link.pjax.logo-style velak
      li.li-menu
        a(href='/site/gala').pjax.menu-link gala
      li.li-menu
        a(href='/site/export').pjax.menu-link export
      li.li-menu
        a(href='/site/other').pjax.menu-link other
  
  main
    nav#side-menu
      
      ul.side-list.list-unstyled.mobile-hidden
        li.li-side
          a.side-link newsletter
        li.li-side  
          a.side-link about
        li.li-side  
          a.side-link FAQ
        li.li-side  
          a.side-link contact
      
  
    #content
      #homepage
        .info-box
          h1= project.title
          p!= project.description
      #future-projects
