doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/admin/css/imgview.css')
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', media='(max-width: 599px)', href='/css/style-mobile.css')
    link(rel='stylesheet', media='(min-width: 600px)', href='/css/style-desktop.css')
    script(type='text/javascript', src='/js/jquery-2.1.4.min.js')
    script(type='text/javascript', src='/js/script.js')
    script(type='text/javascript', src='/js/mobile.js')
    script(type='text/javascript', src='/js/dyn-links.js')
    script(type='text/javascript', src='/js/masonry.js')
    script(type='text/javascript', src='/js/imagesloaded.pkgd.min.js')
    script(type='text/javascript', src='/admin/js/jszip.js')
    script(type='text/javascript', src='/admin/js/imgview.js')
  body
    block content
