extends layout

block content
  h2= project.name
  a(onclick='zipImages()') Download All
  .grid  
    each photo in photos
      if photo.deleted !== true
        .grid-item
          a(href='/uploads/' + photo.name, download= photo.originalName)
          img(src= '/uploads/' + photo.name).image
    
